h1{
  color: red;
  font-size: 200px;
}

img{
  background-color: red;
}

/*************class Selectors**************/
.bacon{

  background-color: green;
}

.broccoli{

  background-color: red;

}
/***************ID Selectors*******************/

#heading{

  color: blue;
}
